@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
    url("fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),
    url("fonts/ptsans-700.woff2");
  font-display: swap;
}

/* Fixes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

/* Buttons */
.button-brown,
.button-blue,
.button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83b3d3;
}

.button-green {
  background-color: #7db54f;
}

/* Pages */
html {
  height: 100%;
}

.page-body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.page-header,
.main-index,
.main-catalog,
.page-footer {
  margin: 0 auto;
  background-color: #ffffff;
}

/* Header */
.page-header {
  width: 1200px;
  min-height: 65px;
  color: #000000;
  z-index: 1;
}

.navigation {
  margin: 0 auto;
  width: 1060px;
  height: 65px;
  display: flex;
}

.navigation-list {
  width: 310px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.page-current {
  padding-bottom: 20px;
  border-bottom: 2px solid #756257;
}

.navigation-logo {
  margin-left: 150px;
}

.navigation-user {
  flex-wrap: nowrap;
  margin-left: 139px;
  width: 325px;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-left: 21px;
  margin-right: 33px;
}

.navigation-item > .button-brown {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Main Index */
.main-grow {
  flex-grow: 1;
}

.main-width-wrapper {
  width: 1200px;
}

.index-logo-container {
  width: 100%;
  height: 485px;
  padding-top: 52px;
  background: url("../img/index/index-divider-for-background.svg") center bottom no-repeat,
    url("../img/index/index-background-for-logo.jpg") repeat-y;
  background-color: #f4d03f;
}

.index-logo-container img {
  display: block;
  margin: auto;
}

/* Advantages */
.advantages {
  width: 100%;
  text-align: center;
}

.advantages-heading,
.advantages-subheading {
  width: 720px;
  margin-left: 240px;
}

.advantages-heading {
  margin-top: 63px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-subheading {
  margin-top: 23px;
  margin-bottom: 79px;
  font-size: 22px;
  line-height: 36px;
}

.advantages-list,
.advantages-list-second-part,
.advantages-sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
}

.item-and-photo-1-wrapper,
.advantages-sublist,
.item-and-photo-2-wrapper,
.advantages-list-second-part {
  display: flex;
}

.item-and-photo-2-wrapper img {
  order: -1;
}

.advantages-item-1-container,
.advantages-subitem,
.advantages-item-2-container,
.advantages-list-second-part .advantages-item {
  width: 33.33%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item-heading,
.advantages-subitem-heading {
  width: 170px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-1-container,
.advantages-item-1-container > .advantages-item-heading,
.advantages-item-2-container,
.advantages-item-2-container > .advantages-item-heading {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-number {
  text-transform: uppercase;
}

.advantages-item-description {
  width: 250px;
}

.advantages-subitem {
  padding-top: 134px;
}

.advantages-subitem-heading {
  margin: 0;
}

.advantages-subitem-description {
  width: 250px;
}

.advantages-subitem:nth-child(1) {
  background: url("../img/index/index-advantages-house-icon.svg") 163px 89px no-repeat;
}

.advantages-subitem:nth-child(2) {
  background: url("../img/index/index-advantages-food-icon.svg") 163px 91px no-repeat;
}

.advantages-subitem:nth-child(3) {
  background: url("../img/index/index-advantages-souvenirs-icon.svg") 168px 85px no-repeat;
}

.advantages-subitem:nth-child(odd),
.advantages-list-second-part .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-second-part .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Search For Hotels */
.search-for-hotels {
  width: 100%;
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.search-for-hotels-title {
  font-size: 30px;
  text-transform: uppercase;
}

.search-for-hotels-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 53px;
}

.search-for-hotels-link {
  padding: 17px 160px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

/* Newsletter */
.newsletter {
  width: 100%;
  min-height: 411px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  background-color: #f4d03f;
  background-image: url("../img/index/newsletter-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
}

.newsletter-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 470px;
  align-self: center;
  font-size: 22px;
}

.newsletter-email-field {
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-left: 200px;
}

.newsletter-email-field input[type="email"] {
  width: 600px;
  height: 60px;
  padding: 22px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-email-field button[type="submit"] {
  padding: 17px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
}

.newsletter-catalog {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.newsletter-description-catalog {
  color: #333333;
}

/* Footer */
.page-footer {
  width: 1200px;
  min-height: 120px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-right: 72px;
  padding-left: 72px;
}

.socials-container {
  width: 120px;
}

.footer-socials-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  list-style: none;
}

.footer-socials-item {
  display: block;
  margin: 30px;
}

.phone-container {
  margin-left: 220px;
  width: 350px;
}

.phone-number a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.copyright {
  width: 120px;
}

/* Header of Catalog Main*/
.main-catalog-header {
  display: flex;
  flex-direction: column;
  min-height: 408px;
  padding: 50px 72px;
  background: url("../img/catalog/main-catalog-header-background.jpg") repeat-y;
  background-color: #f4d03f;
  color: #ffffff;
}

.page-title-and-breadcrumbs-wrapper {
  min-width: 530px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 110px;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 145px;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 67px;
  padding: 0;
  width: 25%;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control-label {
  line-height: 23px;
}

.catalog-filter-group:nth-child(3) {
  width: 287px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-field {
  margin: 4px 0 10px;
  display: flex;
  width: 287px;
  height: 48px;
}

.catalog-filter-input[type="number"] {
  width: 144px;
  padding: 14px 19px 11px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff66;
  border-radius: 4px;
}

.price-label {
  position: relative;
  left: 105px;
  bottom: 36px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.3;
}

.buttons-price {
  width: 100%;
  display: flex;
}

.buttons-form {
  margin-top: 60px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-submit-catalog-form {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: none;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

/* Amount Of Hotels And Sorting Type */
.amount-of-hotels-and-sorting-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 72px 42px;
}

.amount-of-hotels p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type-container {
  align-self: flex-start;
  margin-top: -6px;
  width: 287px;
  height: 48px;
}

.select-control {
  width: 287px;
  height: 48px;
  padding: 12px 19px 13px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #333333;
}

.grid-view {
  width: 300px;
}

.grid-view-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* Catalog  Main*/
.hotels-list {
  display: flex;
  flex-direction: column;
  padding: 42px 72px 31px;
  margin: 0;
  list-style: none;
}

.hotel-item {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotel-title-and-description {
  height: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.hotel-item img {
  order: -1;
}

.hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-info {
  width: 234px;
  margin: 1px 0 31px;
  display: flex;
  justify-content: space-between;
  line-height: 23px;
}

.buttons-hotel-list-wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 320px;
}

.button-hotels-list {
  width: 151px;
  padding: 10px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
}

.rating {
  margin-left: auto;
}

.star-rating {
  height: 17px;
  margin: 0 auto 63px;
  background: url("../img/catalog/catalog-star-rating.svg");
  background-repeat: repeat-x;
}

.hotel-item:nth-child(1) .star-rating {
  width: 72px;
}

.hotel-item:nth-child(2) .star-rating {
  width: 54px;
}

.hotel-item:nth-child(3) .star-rating,
.hotel-item:nth-child(4) .star-rating {
  width: 36px;
}

.text-rating {
  padding: 10px 35px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.load-more-wrapper {
  width: 1056px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.button-load-more {
  padding: 17px 236px 17px 236px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  padding: 31px 72px;
}

.pagination-list-wrapper {
  min-width: 370px;
}

.pagination-list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  margin: 4px;
  padding: 20px 23px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  cursor: default;
}

.items-on-page-form {
  width: 390px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items-on-page-text {
  line-height: 23px;
}

.items-on-page-input {
  width: 160px;
  padding: 13px 17px 12px;
}
