@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

/* Fixes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Ошибки макета с расположением текста по горизонтали,
   исправления для PixelPerfect, при надобности отключить */
.pp-fix-mockup-adv-item {
  position: relative;
  left: 7px;
}

.pp-fix-mockup-search-hotels {
  position: relative;
  right: 8px;
}

/* Buttons */
.button-brown,
.button-blue,
.button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-brown:active,
.navigation-link.button-brown:active {
  color: #ffffff4d;
}

.button-blue {
  background-color: #83b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-blue:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  outline: 3px solid #756257;
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #6c9e42;
  color: #ffffff4d;
}

/* Pages */
html {
  height: 100%;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header,
.main-index,
.main-catalog,
.page-footer {
  margin: 0 auto;
  background-color: #ffffff;
}

/* Header */
.page-header {
  width: 1200px;
  min-height: 65px;
  padding: 0 72px 0 70px;
  color: #000000;
  z-index: 1;
  position: relative;
}

.navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
}

.navigation-list {
  max-width: 501px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/* PixelPerfect */
.navigation-list-catalog {
  padding-left: 1px;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-item:last-child {
  margin-left: 1px;
  margin-right: 0;
}

.navigation-link {
  display: block;
  padding: 18px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
  fill: #756257;
}

.navigation-link:focus {
  color: #756257;
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #7562574d;
  fill: #7562574d;
}

.page-current {
  padding-bottom: 20px;
  border-bottom: 2px solid #756257;
  cursor: default;
}

/* PixelPerfect */
.page-current-index {
  padding-left: 1px;
}

.page-current:only-child:hover {
  color: #000000;
}

.navigation-logo {
  position: absolute;
  width: 138px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}

.navigation-logo:focus {
  outline: 3px solid #756257;
  border-radius: 3px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.navigation-user {
  max-width: 450px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-item:not(.button-header) {
  margin-right: 5px;
}

.navigation-user .favorites-button {
  margin-top: -1px;
}

.navigation-user .navigation-link {
  position: relative;
  padding: 22px 8px 18px 8px;
}

.favorites-number {
  position: absolute;
  top: 15px;
  right: -5px;
  width: 19px;
  height: 19px;
  padding-top: 0.4px;
  display: flex;
  border-radius: 50%;
  background-color: #7db54f;
}

.favorites-number span {
  display: block;
  max-width: 18px;
  max-height: 18px;
  overflow: hidden;
  margin: 0 auto;
  align-self: center;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}

.navigation-item > .button-brown {
  padding: 8px 34px 8px 35px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.navigation-user .button-header {
  margin: 14px 2px 12px 20px;
}

/* Main Index */
.main-grow {
  flex-grow: 1;
}

.main-width-wrapper {
  width: 1200px;
}

.index-logo-container {
  width: 100%;
  height: 485px;
  padding-top: 1px;
  margin-top: -1px;
  margin-bottom: 61px;
  background: url("../img/index/index-divider-for-background.svg") center bottom no-repeat,
    #b5c1c7 url("../img/index/index-background-for-logo.jpg") repeat-y;
  background-size: 100%;
}

.index-logo-container img {
  display: block;
  margin: auto;
  margin-top: 50px;
}

/* Advantages */
.advantages {
  width: 100%;
  text-align: center;
}

.advantages-heading,
.advantages-subheading {
  max-width: 1000px;
  margin: 0 auto;
}

.advantages-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/* Overflow fix */
.advantages > p + p {
  margin-top: 33px;
}

.advantages-subheading {
  font-size: 22px;
  line-height: 36px;
}

.advantages-subheading:last-of-type {
  margin-bottom: 80px;
}

.advantages-list,
.advantages-list-second-part,
.advantages-sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
}

.item-and-photo-1-wrapper,
.advantages-sublist,
.item-and-photo-2-wrapper,
.advantages-list-second-part {
  display: flex;
  flex-wrap: wrap;
}

.item-and-photo-2-wrapper img {
  order: -1;
}

.advantages-item-1-container,
.advantages-subitem,
.advantages-item-2-container,
.advantages-list-second-part .advantages-item {
  padding-top: 3px;
  padding-bottom: 87px;
  width: 33.33%;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.advantages-item-heading,
.advantages-subitem-heading {
  width: 172px;
  margin: 94px auto 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list-second-part .advantages-item-heading {
  margin-top: 95px;
  margin-bottom: 27px;
}

.advantages-item-number {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0 auto;
  max-width: 220px;
}

.advantages-list-second-part .advantages-item-description {
  max-width: 250px;
}

.advantages-item-1-container,
.advantages-item-1-container > .advantages-item-heading,
.advantages-item-2-container,
.advantages-item-2-container > .advantages-item-heading {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-subitem-heading {
  margin: 182px auto 18px;
}

.advantages-subitem-description {
  margin: 0 auto;
  max-width: 250px;
}

.advantages-subitem:first-child .advantages-subitem-description {
  max-width: 190px;
}

.advantages-subitem:nth-child(1) {
  background: url("../img/index/index-advantages-house-icon.svg") 163px 89px no-repeat;
}

.advantages-subitem:nth-child(2) {
  background: url("../img/index/index-advantages-food-icon.svg") 163px 91px no-repeat;
}

.advantages-subitem:nth-child(3) {
  background: url("../img/index/index-advantages-souvenirs-icon.svg") 168px 85px no-repeat;
}

.advantages-subitem:nth-child(odd),
.advantages-list-second-part .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-second-part .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Search For Hotels */
.search-for-hotels {
  width: 100%;
  min-height: 417px;
  padding: 88px 60px 89px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.search-for-hotels-title {
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
}

/* Overflow fix*/
.search-for-hotels > p + p {
  margin-top: 30px;
}

.search-for-hotels-description {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}

.search-for-hotels-heading {
  min-width: 575px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 59px;
}

.search-for-hotels-link {
  padding: 12px 149px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

/* Newsletter */
.newsletter {
  width: 100%;
  min-height: 411px;
  margin-top: -1px;
  padding-top: 92px;
  padding-bottom: 91px;
  background: #b5c1c7 url("../img/index/newsletter-background.jpg") repeat-y;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
}

.newsletter-heading {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 auto;
  margin-bottom: 47px;
  width: 470px;
  align-self: center;
  font-size: 22px;
}

.newsletter-email-field {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;
  margin: 0 auto;
}

.newsletter-email-field input[type="email"] {
  width: 600px;
  height: 60px;
  margin: 0;
  padding: 22px;
  padding-top: 21px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-email-field input[type="email"]:hover {
  background-color: #e6e6e6;
}

.newsletter-email-field input[type="email"]:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 10px 0 0 10px;
}

.newsletter-email-field input[type="email"]:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border-radius: 10px 0 0 10px;
  z-index: 1;
}

/*  Состояние ошибки в форме (красный цвет) */
.form-error {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
  z-index: 1;
}

.newsletter-email-field button[type="submit"] {
  width: 200px;
  margin: 0;
  padding: 17px 34px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
}

/* Overflow fix */
.subscribe-form > p + p {
  margin-top: 26px;
}

.newsletter-catalog {
  padding-top: 57px;
  padding-bottom: 138px;
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.newsletter-description-catalog {
  color: #333333;
}

/* Footer */
.page-footer {
  width: 1200px;
  min-height: 120px;
  padding: 38px 67px;
  position: relative;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-socials-list {
  max-width: 230px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-socials-item {
  margin-right: 19px;
}

.footer-socials-item:not(:first-child) {
  margin-top: 1px;
}

.footer-socials-item:last-child {
  margin-right: 0;
  margin-left: 1px;
}

/* Overflow fix */
.footer-socials-item:nth-child(n+6) {
  margin-top: 25px;
}

.footer-socials-item a {
  padding: 5px;
  fill: #83b3d3;
}

.footer-socials-item a:hover {
  fill: #68a2ca;
}

.footer-socials-item a:focus {
  fill: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-socials-item a:active {
  fill: #68a2ca4d;
}

.phone-container {
  position: relative;
  min-width: 360px;
  max-width: 700px;
  margin-top: -1px;
  margin-left: -102px;
  left: 50%;
  transform: translateX(-50%);
}

.phone-number a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.phone-number a:hover {
  color: #756257;
}

.phone-number a:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.phone-number a:active {
  color: #7562574d;
}

.copyright {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: auto;
}

.copyright a {
  display: block;
  width: 115px;
  height: 34px;
}

.copyright a:hover {
  fill: #756257;
}

.copyright a:focus {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.copyright a:active {
  fill: #7562574d;
}

/* Header of Catalog Main*/
.main-catalog-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 408px;
  margin-top: -1px;
  padding: 32px 71px;
  background: #b5c1c7 url("../img/catalog/main-catalog-header-background.jpg") repeat-y;
  color: #ffffff;
}

.catalog-title {
  max-width: 800px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  max-width: 800px;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 15px;
  margin-top: -3px;
  padding: 0;
  display: flex;
  min-width: 110px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  position: absolute;
  width: 12px;
  height: 12px;
  padding-bottom: 20px;
  top: 0;
  right: 1px;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link::before {
  position: absolute;
  padding-left: 15px;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/catalog/catalog-breadcrumbs-nav-link-icon.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: -15px;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
  fill: #ffffff99;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  color: #ffffff;
  fill: #ffffff;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
  fill: #ffffff4d;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.catalog-filter {
  margin-top: 45px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 68px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.price-group .catalog-filter-title {
  margin-bottom: 35px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control:hover {
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../img/catalog/catalog-type-checkbox-tick.svg");
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 23px;
}

.price-group {
  margin-left: 100px;
  margin-right: 80px;
}

/* Overflow */
.price-group ~ .price-group {
  margin-top: 0;
  margin-left: 10px;
}

.price-field {
  position: relative;
  margin: 0;
  display: flex;
  width: 288px;
  height: 48px;
}

.catalog-filter-label {
  width: 100%;
}

.catalog-filter-input[type="text"] {
  padding-top: 11px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.catalog-filter-input[name="min-price"] {
  width: 144px;
  padding-left: 17px;
  border-right-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.catalog-filter-input[name="max-price"] {
  width: 143px;
  padding-left: 15px;
  border-left-width: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.catalog-filter-input[type="text"]:hover {
  border-color: #ffffff99;
}

.catalog-filter-input[type="text"]:focus {
  border-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 3px #81b3d2;
}

.catalog-filter-input[type="text"]:focus-within {
  background-color: #756257;
  border-color: #ffffff;
}

.price-label {
  position: relative;
  display: block;
  max-width: 32px;
  max-height: 32px;
  overflow: hidden;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.3;
}

input[name="min-price"] + .price-label {
  left: 112px;
  bottom: 37px;
}

input[name="max-price"] + .price-label {
  left: 106px;
  bottom: 37px;
}

.buttons-price {
  width: 287px;
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
}

.buttons-price-range {
  width: 287px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
}

.buttons-price-range-active {
  width: 227px;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  top: -4px;
  right: 0;
}

.range-toggle {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  box-shadow: inset 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 3px solid #83b3d3;
}

.toggle-min {
  position: relative;
  top: -12px;
  right: 227px;
}

.toggle-max {
  position: relative;
  top: -12px;
  right: 31px;
}

.buttons-form {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
}

/* Overflow */
.buttons-form + .buttons-form {
  margin-left: 30px;
}

.button-submit-catalog-form {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  padding: 3px 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-submit-catalog-form:focus {
  outline: 3px solid #ffffff;
}

.button-reset {
  margin-left: -1px;
  padding: 9px 15px;
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: none;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

.button-reset:hover {
  color: #ffffff99;
}

.button-reset:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  color: #ffffff4d;
}

.buttons-form button + button {
  margin-top: 10px;
}

/* Amount Of Hotels And Sorting Type */
.amount-of-hotels-and-sorting-type {
  display: flex;
  flex-wrap: wrap;
  padding: 43px 72px 42px 71px;
}

.amount-of-hotels {
  max-width: 430px;
  margin-top: 5px;
}

.amount-of-hotels p {
  min-width: 390px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1px;
  margin-left: 139px;
  width: 287px;
  min-height: 48px;
}

/* Overflow */
.sorting-type ~ .sorting-type,
.select-control ~ .select-control {
  margin-top: 5px;
}

.select-control {
  width: 287px;
  height: 48px;
  padding: 8px 17px 11px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #333333;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

.select-control-mark {
  position: absolute;
  top: 14px;
  left: 250px;
  width: 16px;
  height: 14px;
  fill: #0000004d;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus {
  border-color: #83b3d3;
}

.select-control:active {
  border-color: #e5e5e5;
  color: #3333334d;
}

.select-control:active .select-control-mark {
  fill: #0000004d;
}

.grid-view {
  max-width: 160px;
  margin-left: auto;
}

.grid-view-list {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.grid-view-item {
  margin-right: 8px;
}

.grid-view-item:nth-child(3n) {
  margin-right: 0;
}

/* Overflow fix */
.grid-view-item:nth-child(n + 4) {
  margin-top: 8px;
}

.grid-view-button {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border-radius: 4px;
}

.grid-view-item .grid-view-button {
  border: 2px solid #e6e6e6;
}

.grid-view-item-selected .grid-view-button {
  border: 2px solid #000000;
}

.grid-view-button:hover {
  border-color: #83b3d3;
}

.grid-view-button:focus {
  outline: 0;
  border-color: #83b3d3;
}

.grid-view-button:active {
  outline: 0;
  border-color: #000000;
}

.grid-view-item:nth-child(1) .grid-view-button {
  background: url("../img/catalog/catalog-mode-tiles-button.svg") no-repeat center center;
}

.grid-view-item:nth-child(2) .grid-view-button {
  background: url("../img/catalog/catalog-mode-slideshow-button.svg") no-repeat center center;
}

.grid-view-item:nth-child(3) .grid-view-button {
  background: url("../img/catalog/catalog-mode-list-button.svg") no-repeat center center;
}

/* Catalog  Main*/
.hotels-list {
  display: flex;
  flex-direction: column;
  padding: 0 72px 30px;
  margin: 0;
  list-style: none;
}

.hotel-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-right: 0;
  padding-bottom: 26px;
  padding-left: 0;
  border-top: 1px solid #e6e6e6;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotel-title-and-description {
  max-width: 620px;
  margin-left: 37px;
}

/* Overflow */
.hotel-title-and-description p + p {
  margin-top: -25px;
}

.hotel-item-image + .hotel-item-image {
  margin-left: 10px;
}

.hotel-item-image {
  margin-top: 4px;
  display: block;
  order: -1;
}

.hotel-item-image:hover {
  opacity: 0.6;
}

.hotel-item-image:focus {
  outline: 3px solid #83b3d3;
}

.hotel-item-image:active {
  opacity: 0.3;
}

.hotel-title {
  margin: 0;
}

.hotel-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-title-link:hover {
  color: #756257;
}

.hotel-title-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.hotel-title-link:active {
  color: #7562574d;
}

.hotel-info {
  margin: 1px 0 32px;
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
}

/* PixelPerfect */
.hotel-item:nth-child(1) span + span:not(.text-rating) {
  margin-left: 78px;
}

.hotel-item:nth-child(2) span + span:not(.text-rating) {
  margin-left: 100px;
}

.hotel-item:nth-child(3) span + span:not(.text-rating) {
  margin-left: 53px;
}

.hotel-item:nth-child(4) span + span:not(.text-rating) {
  margin-left: 78px;
}

/* Overflow */
.hotel-item span + span:not(.text-rating):nth-child(n + 5) {
  margin-left: 0;
  margin-top: 10px;
}

.hotel-item span + span:not(.text-rating):nth-child(n + 6) {
  margin-left: 78px;
}

.hotel-item-price,
.lodging-type,
.hotel-item-image {
  flex-shrink: 0;
}

.hotel-item-price,
.lodging-type {
  max-width: 90%;
}

.buttons-hotels-list-wrapper {
  margin-left: -1px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 330px;
}

.button-hotels-list {
  min-width: 151px;
  max-width: calc(50% - 4px);
  margin: 0;
  padding: 8px 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons-hotels-list-wrapper button {
  padding-right: 31px;
}

.button-hotels-list + .button-green {
  padding: 8px 28px;
}

.button-hotels-list:not(:last-child) {
  margin-right: 8px;
}

/* Overflow */
.button-hotels-list:nth-child(n + 4) {
  margin-top: 10px;
}

.rating {
  margin-left: auto;
}

.star-rating-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 125px;
  margin-top: 7px;
  margin-left: 34px;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.star-rating {
  width: 18px;
  height: 17px;
  margin-right: 7px;
  background: url("../img/catalog/catalog-star-rating.svg") no-repeat;
}

.hotel-item:nth-child(1) .star-rating:nth-last-child(2) {
  margin-right: 5px;
}

.hotel-item:nth-child(2) .star-rating-list {
  margin-left: 44px;
}

.hotel-item:nth-child(3) .star-rating-list,
.hotel-item:nth-child(4) .star-rating-list {
  margin-left: 59px;
}

.star-rating:nth-of-type(5n) {
  margin-right: 0;
}

.star-rating:nth-of-type(n + 6) {
  margin-top: 7px;
}

.star-rating:last-of-type {
  margin-right: 0;
}

.text-rating {
  flex-shrink: 0;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 9px;
  padding-left: 33px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.load-more-wrapper {
  width: 1056px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 72px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.button-load-more {
  max-width: 100%;
  padding: 15px 240px 14px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-load-more + .button-load-more {
  margin-top: 17px;
}

/* Pagination */
.pagination {
  min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 27px;
  padding: 0 72px 31px 72px;
}

.pagination-list {
  min-width: 370px;
  max-width: 600px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-of-type {
  margin-right: 0;
}

/* Overflow */
.pagination-item:nth-child(n + 10) {
  margin-top: 20px;
}

.pagination-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  padding-top: 14px;
  padding-right: 21px;
  padding-bottom: 15px;
  padding-left: 23px;
  text-align: center;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  cursor: default;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;
}

/* PixelPerfect */
.pagination-item:nth-child(1) {
  margin-right: 8px;
}

.pagination-item:nth-child(2) {
  margin-right: 7px;
}

.pagination-item:nth-child(3) .pagination-link {
  padding-left: 22px;
  padding-right: 21px;
}

.pagination-item:nth-child(5) {
  margin-right: 7px;
}

.pagination-item:nth-child(5) .pagination-link {
  padding-left: 19px;
}

.pagination-item:nth-child(6) .pagination-link {
  position: relative;
  padding-left: 11px;
}

.pagination-item:nth-child(6) span {
  position: relative;
  top: 1px;
  left: 6px;
}

.items-on-page-form {
  position: relative;
  min-width: 440px;
  margin-top: -1px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

/* Overflow */
.items-on-page-form + .items-on-page-form,
.items-on-page-form label + label {
  margin-top: 15px;
  margin-left: 616px;
}

.items-on-page-text {
  margin-right: 47px;
  line-height: 23px;
}

.items-on-page-input {
  width: 160px;
  height: 48px;
  margin: 0;
  margin-top: 3px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 15px;
}

.items-on-page-input + .items-on-page-input {
  margin-left: 616px;
}

.items-on-page-form .select-control-mark {
  position: absolute;
  top: 17px;
  left: 403px;
  width: 16px;
  height: 14px;
  fill: #0000004d;
}

/* Modal */
.modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 3;
}

.modal-container {
  margin: auto;
  position: relative;
  top: 5vh;
  width: 715px;
  min-height: 561px;
  padding: 61px 40px 64px 67px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  border-radius: 30px;
}

.modal-content {
  position: relative;
  width: 575px;
  min-height: 437px;
}

.modal-title {
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: -6px;
  right: -2px;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;
}

.modal-close-button svg {
  margin-top: 2px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:focus svg {
  fill: #0000004d;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field-group {
  position: relative;
  min-width: 578px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 7px;
}

.modal-field-group:not(:last-of-type)::after {
  position: absolute;
  top: 18px;
  right: 20px;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/popup/popup-calendar-icon.svg");
}

.modal-field-group:last-of-type {
  margin-bottom: 40px;
}

.modal-field-group .modal-label {
  margin-left: 2px;
  margin-right: 55px;
}

.modal-field-group:nth-child(2) .modal-label {
  margin-right: 49px;
}

.modal-field {
  width: 420px;
  height: 50px;
  padding: 13px 20px 16px;
  background: #f2f2f2;
  color: #00000099;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-field:hover {
  background-color: #e6e6e6;
}

.modal-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.modal-field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  border-radius: 4px;
  color: #000000;
}

.modal-field-group .modal-description {
  margin-top: -7px;
  margin-left: 157px;
  font-weight: normal;
  font-size: 16px;
}

.modal-error {
  color: #ff5757;
}

.modal-success {
  color: #333333;
}

.modal-field-group-small {
  display: flex;
  align-items: center;
}

.modal-field-group-small:nth-child(1) {
  width: 288px;
  margin-right: 22px;
}

.modal-field-group-small:nth-child(2) {
  width: 266px;
}

.modal-field-small {
  width: 133px;
  height: 50px;
  padding: 18px 32px 19px 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.input-and-inc-dec-buttons {
  position: relative;
}

.modal-field-group-small:first-child > .modal-label {
  margin-right: 74px;
}

.modal-field-group-small:nth-child(2) > .modal-label {
  margin-left: 36px;
  margin-right: 11px;
}

.modal-field-group-small:nth-child(2) > .form-tip {
  margin-top: 2px;
  margin-right: 18px;
}

.decrease-amount {
  position: absolute;
  padding-bottom: 24px;
  padding-right: 24px;
  width: 16px;
  height: 10px;
  top: 12px;
  left: 10px;
  background: transparent;
  border: none;
}

.increase-amount {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 6px;
  right: 12px;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-right: 20px;
  background: transparent;
  border: none;
}

.decrease-amount:hover svg,
.increase-amount:hover svg {
  fill: #000000;
}

.decrease-amount:focus,
.increase-amount:focus {
  fill: #000000;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.decrease-amount:active svg,
.increase-amount:active svg {
  fill: #00000033;
}

.form-tip {
  width: 25px;
  height: 25px;
  background: #83b3d3 url("../img/popup/popup-info-icon.svg") no-repeat center center;
  border: none;
  border-radius: 50%;
}

.form-tip:hover {
  background: #68a2ca url("../img/popup/popup-info-icon.svg") no-repeat center center;
}

.form-tip-text {
  display: none;
}

.form-tip:hover + .form-tip-text {
  display: block;
  position: absolute;
  padding: 19px 18px 24px 22px;
  background: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 38px;
  right: 37px;
  width: 256px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  z-index: 3;
}

.form-tip:hover + .form-tip-text::after {
  display: block;
  position: absolute;
  content: "";
  top: -9px;
  left: 118px;
  width: 19px;
  height: 15px;
  background: url("../img/popup/popup-triangle-message-top.svg");
}

.modal-submit-button {
  width: 575px;
  margin-left: 2px;
  padding: 16px 255px 18px;
  padding-left: 252px;
  padding-right: 252px;
  font-weight: bold;
  font-size: 20px;
  background: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}

/* Favorites */
.favorites-popover {
  display: none;
  position: absolute;
  top: 62px;
  right: 72px;
  width: 400px;
  min-height: 232px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.favorites-button:focus-within .favorites-popover {
  display: block;
  z-index: 2;
}

.favorites-popover::before {
  position: absolute;
  content: "";
  display: block;
  background: url("../img/favorites/favorites-top-triangle.svg");
  top: -10px;
  left: 187px;
  width: 20px;
  height: 10px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 24px;
  list-style: none;
  margin: 0;
}

.favorites-item {
  position: relative;
  margin-bottom: 20px;
}

.favorites-link {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.favorites-link:hover {
  opacity: 0.6;
}

.favorites-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.favorites-link:active {
  opacity: 0.3;
}

.favorites-link img {
  display: block;
  border-radius: 50%;
  margin-right: 17px;
}

.favorites-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  margin-top: -7px;
  margin-bottom: -20px;
}

.favorites-subheading {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  line-height: 40px;
}

.favorites-delete {
  position: absolute;
  right: -11px;
  top: -3px;
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.favorites-delete svg {
  fill: #00000033;
}

.favorites-delete:hover svg {
  fill: #000000;
}

.favorites-delete:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.favorites-delete:active svg {
  fill: #0000001a;
}

.all-favorites {
  position: absolute;
  display: block;
  width: 400px;
  margin-top: auto;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 16px;
  line-height: 21px;
  padding: 20px 107px 19px 107px;
  border-radius: 0 0 20px 20px;
}
}
