@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

/* Fixes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.button-brown,
.button-blue,
.button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-brown:active,
.navigation-link.button-brown:active {
  color: #ffffff4d;
}

.button-blue {
  background-color: #83b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-blue:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  outline: 3px solid #756257;
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #6c9e42;
  color: #ffffff4d;
}

/* Pages */
html {
  height: 100%;
}

.page-body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header,
.main-index,
.main-catalog,
.page-footer {
  margin: 0 auto;
  background-color: #ffffff;
}

/* Header */
.page-header {
  width: 1200px;
  min-height: 65px;
  padding: 0 72px 0 71px;
  color: #000000;
  z-index: 1;
  position: relative;
}

.navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
}

.navigation-list {
  max-width: 501px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navigation-item {
  margin-right: 33px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
  fill: #756257;
}

.navigation-link:focus {
  color: #756257;
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.navigation-link:active {
  color: #7562574d;
  fill: #7562574d;
}

.page-current {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
  cursor: default;
}

.page-current:only-child:hover {
  color: #000000;
}

.navigation-logo {
  position: absolute;
  width: 138px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}

.navigation-logo:focus {
  outline: 3px solid #756257;
  border-radius: 3px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

.navigation-user {
  max-width: 450px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-item:not(.button-header) {
  margin-right: 11px;
}

.navigation-user .navigation-link {
  position: relative;
  padding: 20px 10px;
}

.favorites-number {
  position: absolute;
  top: 12px;
  right: -2px;
  width: 19px;
  height: 19px;
  padding-top: 0.4px;
  display: flex;
  border-radius: 50%;
  background-color: #7db54f;
}

.favorites-number span {
  margin: 0 auto;
  align-self: center;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}

.navigation-item > .button-brown {
  padding: 12px 35px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.button-header {
  margin: 10px 0;
  margin-left: 12px;
}

/* Main Index */
.main-grow {
  flex-grow: 1;
}

.main-width-wrapper {
  width: 1200px;
}

.index-logo-container {
  width: 100%;
  height: 485px;
  padding-top: 1px;
  margin-bottom: 63px;
  background: url("../img/index/index-divider-for-background.svg") center bottom no-repeat,
    #b5c1c7 url("../img/index/index-background-for-logo.jpg") repeat-y;
  background-size: 100%;
}

.index-logo-container img {
  display: block;
  margin: auto;
  margin-top: 51px;
}

/* Advantages */
.advantages {
  width: 100%;
  text-align: center;
}

.advantages-heading,
.advantages-subheading {
  max-width: 720px;
  margin: 0 auto;
}

.advantages-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/* Overflow fix */
.advantages > p + p {
  margin-top: 23px;
}

.advantages-subheading {
  font-size: 22px;
  line-height: 36px;
}

.advantages-subheading:last-of-type {
  margin-bottom: 79px;
}

.advantages-list,
.advantages-list-second-part,
.advantages-sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
}

.item-and-photo-1-wrapper,
.advantages-sublist,
.item-and-photo-2-wrapper,
.advantages-list-second-part {
  display: flex;
  flex-wrap: wrap;
}

.item-and-photo-2-wrapper img {
  order: -1;
}

.advantages-item-1-container,
.advantages-subitem,
.advantages-item-2-container,
.advantages-list-second-part .advantages-item {
  padding-bottom: 88px;
  width: 33.33%;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.advantages-item-heading,
.advantages-subitem-heading {
  width: 171px;
  margin: 98px auto 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-number {
  margin-bottom: 26px;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0 auto;
  width: 250px;
}

.advantages-item-1-container,
.advantages-item-1-container > .advantages-item-heading,
.advantages-item-2-container,
.advantages-item-2-container > .advantages-item-heading {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-subitem-heading {
  margin: 184px auto 20px;
}

.advantages-subitem-description {
  margin: 0 auto;
  width: 250px;
}

.advantages-subitem:nth-child(1) {
  background: url("../img/index/index-advantages-house-icon.svg") 163px 89px no-repeat;
}

.advantages-subitem:nth-child(2) {
  background: url("../img/index/index-advantages-food-icon.svg") 163px 91px no-repeat;
}

.advantages-subitem:nth-child(3) {
  background: url("../img/index/index-advantages-souvenirs-icon.svg") 168px 85px no-repeat;
}

.advantages-subitem:nth-child(odd),
.advantages-list-second-part .advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-second-part .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Search For Hotels */
.search-for-hotels {
  width: 100%;
  min-height: 417px;
  padding: 96px 60px 110px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.search-for-hotels-title {
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
}

/* Overflow fix*/
.search-for-hotels > p + p {
  margin-top: 41px;
}

.search-for-hotels-description {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}

.search-for-hotels-heading {
  min-width: 575px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 64px;
}

.search-for-hotels-link {
  padding: 17px 160px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

/* Newsletter */
.newsletter {
  width: 100%;
  min-height: 411px;
  padding-top: 92px;
  padding-bottom: 91px;
  background: #b5c1c7 url("../img/index/newsletter-background.jpg") repeat-y;
  background-size: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
}

.newsletter-heading {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 470px;
  align-self: center;
  font-size: 22px;
}

.newsletter-email-field {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;
  margin: 0 auto;
}

.newsletter-email-field input[type="email"] {
  width: 600px;
  height: 60px;
  margin: 0;
  padding: 22px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  border-style: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-email-field input[type="email"]:hover {
  background-color: #e6e6e6;
}

.newsletter-email-field input[type="email"]:focus {
  outline: 3px solid #83b3d3;
}

.newsletter-email-field input[type="email"]:focus-within {
  background-color: #ffffff;
  outline: 2px solid #000000;
  z-index: 1;
}

/*  Состояние ошибки в форме (красный цвет) */
.form-error {
  background-color: #ffffff;
  outline: 2px solid #ff5757;
  z-index: 1;
}

.newsletter-email-field button[type="submit"] {
  width: 200px;
  margin: 0;
  padding: 17px 35px;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 26px;
}

/* Overflow fix */
.subscribe-form > p + p {
  margin-top: 26px;
}

.newsletter-catalog {
  padding-top: 60px;
  padding-bottom: 130px;
  background-color: #ffffff;
  background-image: none;
  color: #000000;
}

.newsletter-description-catalog {
  color: #333333;
}

/* Footer */
.page-footer {
  width: 1200px;
  min-height: 120px;
  padding: 40px 72px;
  position: relative;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-socials-list {
  max-width: 305px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-socials-item {
  margin-right: 15px;
}

.footer-socials-item:last-child {
  margin-right: 0;
}

/* Overflow fix */
.footer-socials-item:nth-child(n+6) {
  margin-top: 25px;
}

.footer-socials-item a {
  padding: 15px;
  fill: #83b3d3;
}

.footer-socials-item a:hover {
  fill: #68a2ca;
}

.footer-socials-item a:focus {
  fill: #68a2ca;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-socials-item a:active {
  fill: #68a2ca4d;
}

.phone-container {
  position: absolute;
  min-width: 360px;
  margin-top: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.phone-number a {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.phone-number a:hover {
  color: #756257;
}

.phone-number a:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.phone-number a:active {
  color: #7562574d;
}

.copyright {
  margin-top: 2px;
  margin-left: auto;
}

.copyright a {
  display: block;
  width: 115px;
  height: 34px;
}

.copyright a:hover {
  fill: #756257;
}

.copyright a:focus {
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.copyright a:active {
  fill: #7562574d;
}

/* Header of Catalog Main*/
.main-catalog-header {
  display: flex;
  flex-direction: column;
  min-height: 408px;
  padding: 31px 72px;
  background: #b5c1c7 url("../img/catalog/main-catalog-header-background.jpg") repeat-y;
  color: #ffffff;
}

.catalog-title {
  max-width: 800px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  max-width: 800px;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 13px;
  padding: 0;
  display: flex;
  min-width: 110px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  right: -3px;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link::before {
  position: absolute;
  padding-left: 15px;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/catalog/catalog-breadcrumbs-nav-link-icon.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: -13px;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
  fill: #ffffff99;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
  color: #ffffff;
  fill: #ffffff;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
  fill: #ffffff4d;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.catalog-filter {
  margin-top: 48px;
}

.filters-form {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control:hover {
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../img/catalog/catalog-type-checkbox-tick.svg");
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 23px;
}

.price-group {
  margin-left: 100px;
  margin-right: 81px;
}

.price-field {
  margin: 0;
  display: flex;
  width: 287px;
  height: 48px;
}

.catalog-filter-input[type="text"] {
  width: 144px;
  padding: 14px 19px 11px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.catalog-filter-input[name="min-price"] {
  border-right-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.catalog-filter-input[name="max-price"] {
  border-left-width: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.catalog-filter-input[type="text"]:hover {
  border-color: #ffffff99;
}

.catalog-filter-input[type="text"]:focus {
  border-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 3px #81b3d2;
}

.catalog-filter-input[type="text"]:focus-within {
  background-color: #756257;
  border-color: #ffffff;
}

.price-label {
  position: relative;
  left: 105px;
  bottom: 36px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.3;
}

.buttons-price {
  width: 287px;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.buttons-price-range {
  width: 287px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
}

.buttons-price-range-active {
  width: 227px;
  height: 4px;
  background-color: #ffffff;
  position: relative;
  top: -4px;
  right: 0;
}

.range-toggle {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  box-shadow: inset 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 3px solid #83b3d3;
}

.toggle-min {
  position: relative;
  top: -12px;
  right: 228px;
}

.toggle-max {
  position: relative;
  top: -12px;
  right: 30px;
}

.buttons-form {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.button-submit-catalog-form {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
}

.button-submit-catalog-form:focus {
  outline: 3px solid #ffffff;
}

.button-reset {
  padding: 9px 15px;
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background: none;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

.button-reset:hover {
  color: #ffffff99;
}

.button-reset:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  color: #ffffff4d;
}

.buttons-form button + button {
  margin-top: 15px;
}

/* Amount Of Hotels And Sorting Type */
.amount-of-hotels-and-sorting-type {
  display: flex;
  align-items: center;
  padding: 44px 72px 42px;
}

.amount-of-hotels p {
  min-width: 390px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-type-container {
  margin-left: 139px;
  width: 287px;
  height: 48px;
}

.sorting-type {
  position: relative;
}

.select-control {
  width: 287px;
  height: 48px;
  padding: 11px 19px 11px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #ffffff;
  color: #333333;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

.select-control-mark {
  position: absolute;
  top: 13px;
  left: 250px;
  width: 16px;
  height: 14px;
  fill: #0000004d;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus {
  border-color: #83b3d3;
}

.select-control:active {
  border-color: #e5e5e5;
  color: #3333334d;
}

.select-control:active .select-control-mark {
  fill: #0000004d;
}

.grid-view {
  min-width: 160px;
  margin-left: 81px;
}

.grid-view-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.grid-view-item {
  margin-right: 8px;
}

.grid-view-item:nth-child(3n) {
  margin-right: 0;
}

/* Overflow fix */
.grid-view-item:nth-child(n + 4) {
  margin-top: 8px;
}

.grid-view-button {
  display: block;
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  border-radius: 4px;
}

.grid-view-item .grid-view-button {
  border: 2px solid #e6e6e6;
}

.grid-view-item-selected .grid-view-button {
  border: 2px solid #000000;
}

.grid-view-button:hover {
  border-color: #83b3d3;
}

.grid-view-button:focus {
  outline: 0;
  border-color: #83b3d3;
}

.grid-view-button:active {
  outline: 0;
  border-color: #000000;
}

.grid-view-item:nth-child(1) .grid-view-button {
  background: url("../img/catalog/catalog-mode-tiles-button.svg") no-repeat center center;
}

.grid-view-item:nth-child(2) .grid-view-button {
  background: url("../img/catalog/catalog-mode-slideshow-button.svg") no-repeat center center;
}

.grid-view-item:nth-child(3) .grid-view-button {
  background: url("../img/catalog/catalog-mode-list-button.svg") no-repeat center center;
}

/* Catalog  Main*/
.hotels-list {
  display: flex;
  flex-direction: column;
  padding: 0 72px 31px;
  margin: 0;
  list-style: none;
}

.hotel-item {
  display: flex;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotel-title-and-description {
  height: 120px;
  margin-left: 36px;
}

.hotel-item-image {
  display: block;
  order: -1;
}

.hotel-item-image:hover {
  opacity: 0.6;
}

.hotel-item-image:focus {
  outline: 3px solid #83b3d3;
}

.hotel-item-image:active {
  opacity: 0.3;
}

.hotel-title {
  max-width: 320px;
  margin: 0;
}

.hotel-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-title-link:hover {
  color: #756257;
}

.hotel-title-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.hotel-title-link:active {
  color: #7562574d;
}

.hotel-info {
  width: 234px;
  margin: 1px 0 35px;
  display: flex;
  justify-content: space-between;
  line-height: 23px;
}

.buttons-hotels-list-wrapper {
  display: flex;
  min-width: 320px;
}

.button-hotels-list {
  min-width: 151px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
}

.button-hotels-list:not(:last-child) {
  margin-right: 6px;
}

.rating {
  margin-left: auto;
}

.star-rating-list {
  display: flex;
  justify-content: center;
  margin: 0 0 63px auto;
  padding: 0;
  list-style: none;
}

.star-rating {
  width: 18px;
  height: 17px;
  margin-right: 7px;
  background: url("../img/catalog/catalog-star-rating.svg") no-repeat;
}

.star-rating:last-of-type {
  margin-right: 0;
}

.text-rating {
  padding: 10px 35px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.load-more-wrapper {
  width: 1056px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.button-load-more {
  padding: 17px 236px 17px 236px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  padding: 31px 72px;
}

.pagination-list-wrapper {
  min-width: 370px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  margin: 4px;
  padding: 20px 23px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.pagination-link:last-child {
  margin-right: 0;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  cursor: default;
}

.items-on-page-form {
  position: relative;
  min-width: 440px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.items-on-page-text {
  margin-right: 51px;
  line-height: 23px;
}

.items-on-page-input {
  width: 160px;
  margin: 0;
  padding: 13px 17px 12px;
}

.items-on-page-form .select-control-mark {
  position: absolute;
  top: 13px;
  left: 401px;
  width: 16px;
  height: 14px;
  fill: #0000004d;
}
